@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<div class="spacer-60"></div>
<section id="team" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="h4">ACRO YOGA RAGAZZI (dai 10 anni)</h3>
                <div class="spacer-15"></div>
                <p class="lead">Un percorso di crescita per conoscere se stessi</p>
                <p>
                    Proporre lo yoga ai ragazzi e ai bimbi significa avvicinarli ad un percorso di crescita che li porta, attraverso un approccio giocoso, a conoscere se stessi, ad essere consapevoli del proprio corpo e della respirazione, a sviluppare un comportamento altruista e ad apprendere l'importanza del rispetto degli altri. Attraverso l’<b>Acro Yoga</b> nello sperimentare tutto questo, la pratica diventa ancora più divertente, si superano insieme paure, difficoltà e insicurezze, si impara a collaborare e a lavorare in gruppo sviluppando fiducia, ascolto e responsabilità.
                </p>
                <p>
                    <h5>LA LEZIONE</h5>
                    lavoreremo  insieme in totale sicurezza, facendo dei giochi di gruppo e in coppia per entrare in sintonia e aumentare la fiducia, seguirà un piccolo riscaldamento con qualche Asana propedeutica alla pratica dell’acro yoga, per poi realizzare qualche posizione in volo che nel tempo porterà a creare una vera e propria sequenza.
                </p>
                <p>
                    <h5>ACRO YOGA FAMILY</h5>
                    Durante l’anno saranno organizzati eventi aperti a tutti, che vedranno coinvolti anche i genitori dei ragazzi, dove si proporranno esercizi e figure in coppia o in gruppo famigliare, e piccole divertenti acrobazie (in sicurezza) che invitano genitori e figli a lavorare insieme su fiducia, empatia, capacità di lasciarsi guidare, equilibrio, condivisione delle sensazioni, ricerca di ritmo, armonia e coordinazione.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/images/acroyogaragazzi/acro-0000.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->
<!-- Work Section -->
<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
    <div class="container">
        <h3>Galleria</h3>
    </div>
    <!-- Work Gallary -->
    <div class="container gallery">
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0001-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0001.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0010-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0010.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-12 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0001.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0001.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0007-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0007.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0003-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0003.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0006-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0006.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0005-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0005.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0004-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0004.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/acroyogaragazzi/acro-0008-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/acroyogaragazzi/acro-0008.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Gallary -->
</section>
<!-- End Work Section -->
