@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<div class="spacer-60"></div>
<!-- Work Section -->
<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
    <div class="container">
        <h3>Galleria</h3>
    </div>
    <!-- Work Gallary -->
    <div class="container gallery">
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">               
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main7.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main7.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main11.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main11.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main6.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main6.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main14.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main14.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main13.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main13.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">               
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main5.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main5.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main12.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main12.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main15.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main15.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main17.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main17.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/main16.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/main16.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>ACROYOGA PADOVA</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Gallary -->
</section>
<!-- End Work Section -->

