@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<div class="spacer-60"></div>
<section id="team" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="h4">Guido LAZZARO</h3>
                <div class="spacer-15"></div>
                <p class="lead">Sono Guido Lazzaro istruttore di judo, operatore del Massaggio Tradizionale Tailandese (Thai Yoga Massage)</p>
                <p>
                    Da sempre ho seguito la Via del Guerriero intesa come disciplina spirituale di integrità e lealtà.
                </p><p>
                    Ho conseguito la cintura nera di 1° dan di karate e successivamente la nera di judo 2° dan cercando di migliorare soprattutto
                    lo spirito e cogliere gli aspetti più nobili e profondi che queste discipline incarnano.
                </p><p>
                    Per molti anni mi sono dedicato all’insegnamento del judo ai bambini che ritengo una categoria ne debole ne da proteggere
                    ma la più indicata per assimilare i concetti di amicizia, collaborazione, lealtà e sincerità.
                </p><p>
                    Ho insegnato judo e seguito un gruppo di disabili ed uno di ragazzi in cura presso le strutture di neuropsichiatria dell’infanzia e dell’adolescenza
                </p><p>
                    E’ stato amore a prima vista l’incontro sei anni fa con l’acroyoga appena introdotto in Italia da Jacopo Ceccarelli della scuola Samadhi di Firenze, da quel momento ho partecipato ad innumerevoli workshop e immersion e ho da subito aperto un gruppo di studio a Padova presso la  palestra LiberaMente di cui sono stato presidente e gestore dal 2000.
                </p><p>
                    Attualmente insegno judo a bambini/ragazzi e acroyoga adulti presso la Blukippe di Salboro (PD) e la Simply Dance di Montegrotto Terme (PD)
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/images/guido1.jpg" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background: #e3fdf1;padding: 30px;border-radius: 20px;text-align: justify;margin-top:30px">
                <p>Cosa è l’acro yoga per me:</p>
                <p>
                    Acro & Yoga due cose due persone diverse tra di loro uniche nel loro genere ma che insieme costituiscono un "uno solo2 un’unione,
                    un legame, un vincolo, un collegamento, un’armonia, un accordo, un’intesa, un patto, un movimento.
                </p><p>
                    Come un bambino muove i suoi primi passi incerto, cosi l’unione tra due persone passa attraverso insicurezza, indecisione,
                    dubbio, preoccupazione, ansia, timore, esitazione, perplessità, titubanza, tentennamento.
                </p><p>
                    E tutto si trasforma passo dopo passo, mano dopo mano, piede dopo piede e tutto diventa certezza, sicurezza, determinatezza,
                    decisione, audacia, risolutezza.
                </p><p>
                    Per aspera ad astra con Acro & Yoga, Io e Te insieme sulla strada che porta alle cose virtuose "salire in alto attraverso la dedizione".
                    L’acrobatica sembra in antitesi con lo yoga, invece si completa e si fonde come naturale unione tra Yin e Yang in un continuo
                    flusso di energia reciproca che fluisce da un corpo all’altro. Io do a te perché tu possa dare a me, e così si innesca un moto
                    perpetuo di aiuto, sostegno , assistenza, difesa, protezione collaborazione. Ho trovato similitudine con un'altra disciplina,
                    il Judo (da cui provengo), infatti non c’è judo fatto da soli, c’è sempre bisogno della collaborazione di un'altra persona
                    e non ho usato la parola collaborazione a caso , se non veniamo aiutati non impariamo, non cresciamo. Un principio del judo
                    recita "Il miglior impiego dell’energia ottenuta attraverso l’amicizia e la mutua prosperità" e un altro dice "Anima
                    Tecnica e Corpo" perciò penso che anche l’acroyoga possa incorporare questi concetti.
                </p><p>
                    Da tutto questo nascono emozioni, che diamo e riceviamo, cresce la fiducia, l’aiuto, la gratitudine, l’amicizia, il lascarsi
                    andare senza pregiudizi e critiche.
                </p><p>
                    "Mettersi in discussione, staccare i piedi da terra, gravitare nello spazio senza punti di riferimento ed aspettare che tutto accada"
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->
<!-- Statement Section -->
@*<section id="statement" class="bg-img22 overlay-dark80 dark-bg ptb ptb-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Inizia la tua pratica yoga</h4>
                <div class="spacer-15"></div>
                <p>Se vuoi risvegliare in te stesso/a le potenzialità profonde del corpo e della mente attraverso una pratica di asana che alterna momenti basati sull'attività dinamica a  momenti incentrati sulla fluidità, vieni a provare l'approccio di Anukalana Yoga! Mi trovi alla  la simply dance a Montegrotto (PD).</p>
            </div>
        </div>
    </div>
</section>*@
<!-- End Statement Section -->
<!-- Work Section -->
<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
    <div class="container">
        <h3>Galleria</h3>
    </div>
    <!-- Work Gallary -->
    <div class="container gallery">       
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i1.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i1.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i2.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i2.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i3.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i3.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i4.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i4.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i5.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i5.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i8.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i8.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i7.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i7.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i6.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i6.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i9.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i9.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/guido_i10.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/guido_i10.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Guido LAZZARO</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Gallary -->
</section>
<!-- End Work Section -->
