@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<div class="spacer-60"></div>
<section id="team" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="h4">Laura SILVESTRI</h3>
                <div class="spacer-15"></div>
                <p class="lead">Ciao sono Laura, insegnante di yoga, secondo l'approccio Anukalana, disciplina che per me incarna un vero e proprio stile di vita!</p><p>
                    Dopo molti anni dedicati alla danza, ho sentito la necessità di trovare una pratica che integrasse corpo, mente e spirito per crescere sotto tutti i punti di vista. Da quel momento ho iniziato a praticare yoga facendo interessanti e profonde esperienze frequentando corsi di meditazione Zazen e Vipassana, yoga Nidra, Hata, Iyenger, Anusara yoga, yoga terapia, seminari presso la scuola di filosofia orientale e infine scoprendo, attraverso diversi workshop e corsi, l'Acro Yoga.
                </p>
                <p>
                    Mi sono formata come istruttore di Hata Yoga RYT 200 presso la scuola Yoga Planet di Bologna e, ho approfondito la formazione studiando il metodo Anukalana yoga (RYT 500) successivamente presso la scuola Samadhi di Firenze. Anukalana è  un approccio morbido e armonioso, che mi ha aiutato a fluire con naturalezza in questo percorso di crescita personale e che mi ha fatto riscoprire l'Acro Yoga come pratica fluida, consapevole e armoniosa, guidata dal ritmo del respiro.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/images/laura3.jpg" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background: #e3fdf1;padding: 30px;border-radius: 20px;text-align: justify;margin-top:30px">
                Da spettatrice e danzatrice, quando guardo uno spettacolo mi emoziono di fronte alla bellezza e all'eleganza, mi piace sentirmi
                parte dell'armonia di ciò che sta avvenendo.<br />
                Il gesto "atletico-acrobatico" nel caso di una coreografia di danza o di acro yoga,
                mi stupisce e affascina, apprezzo l'attimo di sospensione,  ma non sento di esserne veramente inclusa, forse perché molto tecnico,
                a volte meccanico e per me troppo elevato.<br />
                Invece il movimento morbido, fluido, continuo, crea un alone di energia che si espande
                e avvolge, in quel momento avviene la magia e, chi guarda, entra nel tuo mondo e si fonde con te. Rimane l'emozione perché
                l'hai provata veramente.<br />Questo è l'acro yoga per me: l’ eleganza e la bellezza del movimento, tipico della danza, il fluire
                morbido e consapevole al ritmo del respiro, tipico dello yoga. È pura emozione nel farlo e nel vederlo, quella che ti penetra
                in ogni cellula e che unisce corpo mente e spirito in un’unica cosa. Quindi il gesto acrobatico è solo conseguenza della ricerca
                di un movimento fluido avvolgente armonioso, che anche se semplice, basta a se stesso, se poi si esprime ad alti livelli
                senza perdere queste caratteristiche...ben venga!<br />
                In questa fusione di eleganza ci siamo "io e te", che insieme respiriamo ogni passaggio infondendogli vita, che nella
                fiducia reciproca diamo espressione a ciò che sta accadendo in quel momento e non per la perfezione del gesto,
                ma per l’autenticità dell’emozione che proviamo.
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->
<!-- Statement Section -->
<section id="statement" class="bg-img21 overlay-dark80 dark-bg ptb ptb-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Inizia la tua pratica yoga</h4>
                <div class="spacer-15"></div>
                <p>Se vuoi risvegliare in te stesso/a le potenzialità profonde del corpo e della mente attraverso una pratica di asana che alterna momenti basati sull'attività dinamica a  momenti incentrati sulla fluidità, vieni a provare l'approccio di Anukalana Yoga! Mi trovi alla  la simply dance a Montegrotto (PD).</p>
            </div>
        </div>
    </div>
</section>
<!-- End Statement Section -->
<!-- Work Section -->
<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
    <div class="container">
        <h3>Galleria</h3>
    </div>
    <!-- Work Gallary -->
    <div class="container gallery">
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-6 item">
                    <div class="row">
                        <div class="owl-item team-carousel nf-carousel-theme">
                            <div class="col-md-12 item">
                                <div class="team-item nf-col-padding">
                                    <div class="team-item-img">
                                        <img src="~/Content/images/small/laura_i1.jpg" alt="" class="img-responsive" />
                                        <a href="~/Content/images/laura_i1.jpg" rel="group1" class="group">
                                            <div class="team-item-detail">
                                                <div class="team-item-detail-inner light-color">
                                                    <h5>Laura SILVESTRI</h5>
                                                    <p>Acroyoga Padova</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="row">
                        <div class="owl-item team-carousel nf-carousel-theme">
                            <div class="col-md-12 item">
                                <div class="team-item nf-col-padding">
                                    <div class="team-item-img">
                                        <img src="~/Content/images/small/laura_i13.jpg" alt="" class="img-responsive" />
                                        <a href="~/Content/images/laura_i13.jpg" rel="group1" class="group">
                                            <div class="team-item-detail">
                                                <div class="team-item-detail-inner light-color">
                                                    <h5>Laura SILVESTRI</h5>
                                                    <p>Acroyoga Padova</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 item">
                                <div class="team-item nf-col-padding">
                                    <div class="team-item-img">
                                        <img src="~/Content/images/small/laura_i3.jpg" alt="" class="img-responsive" />
                                        <a href="~/Content/images/laura_i3.jpg" rel="group1" class="group">
                                            <div class="team-item-detail">
                                                <div class="team-item-detail-inner light-color">
                                                    <h5>Laura SILVESTRI</h5>
                                                    <p>Acroyoga Padova</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/laura_i4.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/laura_i4.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/laura_i5.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/laura_i5.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/laura_i12.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/laura_i12.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-3 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/laura_i6.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/laura_i6.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/laura_i7.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/laura_i7.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/laura_i10.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/laura_i10.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/small/laura_i14.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/laura_i14.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Gallary -->
</section>
<!-- End Work Section -->
