@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<div class="spacer-60"></div>
<section id="team" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="h4">Laura SILVESTRI</h3>
                <div class="spacer-15"></div>
                <p class="lead">Ciao sono Laura, insegnante di yoga, secondo l'approccio Anukalana, disciplina che per me incarna un vero e proprio stile di vita!</p><p>
                    Dopo molti anni dedicati alla danza, ho sentito la necessità di trovare una pratica che integrasse corpo, mente e spirito per crescere sotto tutti i punti di vista. Da quel momento ho iniziato a praticare yoga facendo interessanti e profonde esperienze frequentando corsi di meditazione Zazen e Vipassana, yoga Nidra, Hata, Iyenger, Anusara yoga, yoga terapia, seminari presso la scuola di filosofia orientale e infine scoprendo, attraverso diversi workshop e corsi, l'Acro Yoga.
                </p><p>
                    Mi sono formata come istruttore di Hata Yoga RYT 200 presso la scuola Yoga Planet di Bologna e, ho approfondito la formazione studiando il metodo Anukalana yoga (RYT 500) successivamente presso la scuola Samadhi di Firenze. Anukalana è  un approccio morbido e armonioso, che mi ha aiutato a fluire con naturalezza in questo percorso di crescita personale e che mi ha fatto riscoprire l'Acro Yoga come pratica fluida, consapevole e armoniosa, guidata dal ritmo del respiro.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/images/laura2.jpg">
            </div>
        </div>
    </div>
</section>
<!-- End About Section-->
<!-- Statement Section -->
<section id="statement" class="bg-img19 overlay-dark80 dark-bg ptb ptb-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                </a>
                <h4>Pellentesque eu pretium quis adipiscing sem neque sem Nulla consequat massa quis enim?</h4>
                <div class="spacer-15"></div>
                <p>Mi sono formata come istruttore di Hata Yoga RYT 200 presso la scuola Yoga Planet di Bologna e, ho approfondito la formazione studiando il metodo Anukalana yoga (RYT 500) successivamente presso la scuola Samadhi di Firenze. Anukalana è  un approccio morbido e armonioso, che mi ha aiutato a fluire con naturalezza in questo percorso di crescita personale e che mi ha fatto riscoprire l'Acro Yoga come pratica fluida, consapevole e armoniosa, guidata dal ritmo del respiro.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Statement Section -->
<!-- Work Section -->
<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
    <div class="container">
        <h3>Galleria</h3>

    </div>
    <!-- Work Gallary -->
    <div class="container gallery">
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-6 item">
                    <div class="row">
                        <div class="owl-item team-carousel nf-carousel-theme">
                            <div class="col-md-12 item">

                                <div class="team-item nf-col-padding">
                                    <div class="team-item-img">
                                        <img src="~/Content/images/laura_i1.jpg" alt="" />
                                        <div class="team-item-detail">
                                            <div class="team-item-detail-inner light-color">
                                                <h5>Laura SILVESTRI</h5>
                                                <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                                <ul class="social">
                                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-mail-forward"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="row">
                        <div class="owl-item team-carousel nf-carousel-theme">
                            <div class="col-md-12 item">
                                <div class="team-item nf-col-padding">
                                    <div class="team-item-img">
                                        <img src="~/Content/images/laura_i2.jpg" alt="" />
                                        <div class="team-item-detail">
                                            <div class="team-item-detail-inner light-color">
                                                <h5>Guido LAZZARO</h5>
                                                <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                                <ul class="social">
                                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 item">
                                <div class="team-item nf-col-padding">
                                    <div class="team-item-img">
                                        <img src="~/Content/images/laura_i3.jpg" alt="" />
                                        <div class="team-item-detail">
                                            <div class="team-item-detail-inner light-color">
                                                <h5>Guido LAZZARO</h5>
                                                <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                                <ul class="social">
                                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/laura_i4.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Laura SILVESTRI</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-mail-forward"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/laura_i5.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Guido LAZZARO</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/laura_i8.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Guido LAZZARO</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-3 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/laura_i6.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Laura SILVESTRI</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-mail-forward"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/laura_i7.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Laura SILVESTRI</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-mail-forward"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/laura_i10.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Laura SILVESTRI</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-mail-forward"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/laura_i9.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Laura SILVESTRI</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-mail-forward"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- End Work Gallary -->

</section>
<!-- End Work Section -->
