@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<div class="spacer-60"></div>
<section id="team" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="h4">ANUKALANA YOGA</h3>
                <div class="spacer-15"></div>
                <p class="lead">Anukalana significa integrazione ed è il modo più naturale, armonioso e completo di praticare lo Yoga e la Meditazione</p>
                <p>
                    E’ un approccio basato sul movimento, la morbidezza, la fluidità, al ritmo del tuo respiro. Anukalana affronta le pratiche tradizionali dello Yoga attraverso l'integrazione con elementi di altre discipline che derivano dal taoismo, dalla danza, dalle arti marziali. E’ una pratica che apre le strutture del corpo creando spazio tra le giunture, favorendo il  rilascio delle tensioni che si annidano anche nel tessuto connettivo permettendo ai muscoli di allungarsi più facilmente e agli organi di rilassarsi, alla mente di essere più leggera, libera e creativa.
                </p>
                <p>
                    E’ una danza da una posizione yoga all’altra e che attraverso un crescendo morbido di posizioni e allungamenti al ritmo del respiro, ti condurrà naturalmente ad una delicata sensazione di integrazione tra corpo e mente, portandoti a ricevere e ad assaporare un piacevole flusso di energia. Anukalana si sviluppa infatti con l’obbiettivo di rendere la pratica dello Yoga adatta a tutti, rispettando le proprie caratteristiche.
                </p>
                <p>
                    Qualche momento sarà dedicato alla meditazione, come arte del "lasciar andare", di vivere con se stessi , di presenza al proprio sentire. Uno strumento per calmare la mente facendola aderire al "qui ed ora" e portandola ad uno stato di quiete, presenza e profondo benessere.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/images/yoga/Glifo-Loto-6_425.png" class="img-responsive">
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12" style="background: #e3fdf1;padding: 30px;border-radius: 20px;text-align: justify;margin-top:30px">




            </div>
        </div>*@
    </div>
</section>
<!-- End About Section-->
<!-- Statement Section -->
<section id="statement" class="bg-img21 overlay-dark80 dark-bg ptb ptb-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Inizia la tua pratica yoga</h4>
                <div class="spacer-15"></div>
                <p>Se vuoi risvegliare in te stesso/a le potenzialità profonde del corpo e della mente attraverso una pratica di asana che alterna momenti basati sull'attività dinamica a  momenti incentrati sulla fluidità, vieni a provare l'approccio di Anukalana Yoga!</p>
            </div>
        </div>
    </div>
</section>
<!-- End Statement Section -->
<!-- Work Section -->
<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
    <div class="container">
        <h3>Galleria</h3>
    </div>
    <!-- Work Gallary -->
    <div class="container gallery">
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/yoga/yoga-0001-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/yoga/yoga-0001.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/yoga/yoga-0002-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/yoga/yoga-0001.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-12 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/yoga/yoga-0005.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/yoga/yoga-0005.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-item team-carousel nf-carousel-theme">
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/yoga/yoga-0004-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/yoga/yoga-0004.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/yoga/yoga-0003-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/yoga/yoga-0003.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="~/Content/images/yoga/yoga-0006-small.jpg" alt="" class="img-responsive" />
                            <a href="~/Content/images/yoga/yoga-0006.jpg" rel="group1" class="group">
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Laura SILVESTRI</h5>
                                        <p>Acroyoga Padova</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Gallary -->
</section>
<!-- End Work Section -->
