@model string

@if (string.IsNullOrEmpty(Model))
{

}
else
{
    <a href="@Model" class="btn btn-default btn-xs" target="_blank"><span class='glyphicon glyphicon-film' aria-hidden='true'></span></a>
}
