<footer id="footer" class="footer section-padding gray-bg">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                    <h6><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Indirizzi</h6>
                    <p>
                        <a href="https://www.google.it/maps/place/Simply+Dance/45.3381643,11.7611336,17z/data=!4m13!1m7!3m6!1s0x477edefe7d3fa6b7:0xdc161591838e3502!2sVia+del+Commercio,+27,+35036+Montegrotto+Terme+PD!3b1!8m2!3d45.3381643!4d11.7633223!3m4!1s0x477edefe83844c63:0x46fe7cc911d9378a!8m2!3d45.337972!4d11.763618" target="_blank"> Simply Dance - Via del Commercio, 27, 35036 Montegrotto Terme PD</a>
                    </p>
                    <p>
                        <a href="https://www.google.it/maps/place/Via+P.+Ponchia+(mons.),+1,+35124+Padova+PD/45.361907,11.8850986,17z/data=!3m1!4b1!4m5!3m4!1s0x477edb6170ad83ef:0xdd0358cc55949c33!8m2!3d45.361907!4d11.8872873" target="_blank"> Blukippe - Via Ponchia, 1, 35124 Salboro PD</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-telephone"></i></div>
                    <h6><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Chiamaci</h6>
                    <p>
                        <span>Guido <a href="tel:+393356365702">335 6365702</a></span><br />
                    </p>
                    <p>
                        <span>Laura <a href="tel:+39347212561">347 2125611</a></span><br />
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-box-left">
                    <div class="contact-icon-left"><i class="ion ion-ios-email"></i></div>
                    <h6><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</h6>
                    <p>
                        <a href="mailto:info@acroyogapadova.it">info@acroyogapadova.it</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Social -->
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/groups/987154441412436/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCD5_pwJS_82v9-An6i-_yCw" target="_blank"><i class="fa fa-youtube"></i></a>
                </li>
                @*<li>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>*@
            </ul>
            <!-- End Social -->
        </div>
    </div>
</footer>
