@if (Request.IsAuthenticated)
{
    @Html.ActionLink(HttpContext.Current.User.Identity.Name, "ChangePassword", "Account", null, new { @class = "logon" })<span>&nbsp;</span>
    @Html.ActionLink("logoff", "LogOff", "Account", null, new { @class = "logon" });
}
else
{
    @Html.ActionLink("logon", "LogOn", "Account", null, new { @class = "logon" });
}
